/* Mobile com layout inicial de no mínimo de 390px de largura */


.page {
    background: linear-gradient(bisque, rgb(145, 127, 106));
    display: flex;
    flex-direction: column;
}

.header {
    background-color: cadetblue;
    text-align: center;
    padding: 10% 0;
}

a {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}
.header ol {
    padding: 10% 0 5%;
}

.header div ol li {
    display: inline;
    padding-inline: 17px;
}

/* .header div ol li:last-child {
    border-right: 2px solid white;
} */

.header h1 {
    font-size: 80px;
    background-color: rgb(101, 149, 150);
}

.logo-introduction {
    margin: 30% 30px 0%;
    text-align: center;

    font-size: 20px;
}

.introduction p:last-child {
    font-style: italic;
}


.container {
    margin: 20% 5%;
    background-color: aqua;
    border-radius: 20px;

    text-align: center;

    padding: 10% 5%;
}modelScrath.html

.section:first-child {
    padding-bottom: 30px;
}

.section:nth-child(2) {
    padding-top: 30px;
    border-top: solid black 0.5px;
}

.content-introduction p:nth-child(2) {
    margin: 9px 0;
}


.content-trips h2 {
    font-size: 30px;
    padding-bottom: 10px;
}

.content-trips__item {
    margin-bottom: 10px;

    border: solid 2px black;
}

.content-trips__text {
    padding: 7px 10px 13px;
    text-align: initial;
}

.content__trips-button {
    padding: 6px;
    margin: 10px 0 20px;
}

.description-london img,
.description-paris img,
.description-rio img {
    object-fit: cover;
    border-bottom: 2px black solid;
}

.description-london,
.description-paris {
    display: none;
}

.description-paris img {
    object-position: 0 24%;
}

.description-london img {
    object-position: 0 20%;
}

.ativo {
    background-color: lightblue;
}

.answer {
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px 7px 10px;

    border: solid black 1px;

    text-align: left;
}

.answer svg {
    margin-bottom: 10px;
}

.answer1 {
    background-color: lightgray;
}

.answer2 {
    background-color: rgb(144, 144, 144);
}

.answer__user {
    display: flex;
}

.answer__user p {
    padding-top: 10px;
    padding-left: 3px;
}

.answer__title {
    margin-top: 10px;
    margin-bottom: -7px;
    padding-left: 10%;

    text-align: left;
    text-decoration: underline;

}

.footer {
    border-top: black 5px;
    border-style: dashed;

    margin-top: 10%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer div {
    padding: 40px 0;
}

.footer div a {
    
    padding-inline: 20px;
    color: black;
    text-decoration: none;
}



@media all and (min-width: 1024px) {
    .answer {
        padding: 20px 50px 20px 50px;
    }

    .answer__title {
        padding-left: 40px;
    }

    .content-introduction {
        font-size: 20px;
        margin: 0 0 100px 0;
    }

    .logo-introduction {
        font-size: 40px;
        margin: 10% 0 0 0;
    }

    .footer {
        margin: -70px 0 0 0;
    }
    .description-paris img {
        object-position: 0 70%;
    }
    .description-rio img {
        object-position: 0 30%;
    }
    .content-trips__item img {
        height: 200px;
    }
}