
body {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(143,143,143,1) 100%);
}

#logo {
    width: 20%;
    border: 1px solid black;
}

h1 {
    font-size: 40px;
    font-weight: 900;
    color: white;
    text-decoration: underline;
    padding: 30px 0 20px 0;
}

header {
    max-width: inherit;
    height: 100%;
    padding: 0 0 30px 50px;
    border-bottom: 2px solid;
}

#navHeader {
    padding-top: 20px;
}

ul li {
    display: inline;
    padding-bottom: -70px;
}

/* 
----------------------------------------------------------------
____________________________POSTS_______________________________
----------------------------------------------------------------
*/
/* O POST */
#divPost {
    border: 3px solid;
    margin: 20px 30px;
    background-image: linear-gradient(blue, yellow);
    padding: 30px 30px 30px 30px;
    background-size: 100%;
}

/* RESPOSTAS DO POST */
#answPost {
    margin-left: 50px;
} 

/* 
OS USUÁRIOS
*/
#user {
    color: white;
    text-decoration: underline
} 

/* 
USER OP
*/
#userOP {
    padding: 0 0 10px 10px;
}
.op{
    color: white;
    display: inline;
}

#OP {
    margin: 0 0 0 10px;
    border: 2px solid black;
    padding-inline: 10px;
    background-color: white;
}

/* 
USER ANSWER
*/

#answPost {
    padding: 20px;
}
.userName {
    display: inline;
}

#answBox {
    display: inline;
    margin: 0 20px 0 -55px;
    border: 2px  solid black;
    padding-inline: 10px;
    text-decoration: underline;
    font-weight: bolder;
}
#answContent {
    padding-top: 10px;
    margin-left: -10px;
}